extWFS2/src-test/WFS-DescribeFeatureTypeAves.xml

<?xml version='1.0' encoding="ISO-8859-1" ?>
<schema
   targetNamespace="http://mapserver.gis.umn.edu/mapserver" 
   xmlns:ms="http://mapserver.gis.umn.edu/mapserver" 
   xmlns:ogc="http://www.opengis.net/ogc"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:gml="http://www.opengis.net/gml"
   elementFormDefault="qualified" version="0.1" >

  <import namespace="http://www.opengis.net/gml"
          schemaLocation="http://schemas.opengeospatial.net/gml/2.1.2/feature.xsd" />

  <element name="Blyr" 
           type="ms:BlyrType" 
           substitutionGroup="gml:_Feature" />

  <complexType name="BlyrType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="msGeometry" type="gml:GeometryPropertyType" minOccurs="0" maxOccurs="1"/>
          <element name="cuadricula" type="string"/>
          <element name="BiodivIndex" type="BiodivIndexType">
            <complexType name="BiodivIndexType">
              <sequence>
                <element name="N" type="string"/>
                <element name="Be" type="string"/>
                <element name="Numero_de_especies_SPEC_1y2y3" type="string"/>
                <element name="Numero_medio_de_especies_en_100_km2_dentro_de_su_bloque_de_2500_km2" type="string"/>
                <element name="Otro" type="OtroType">
            		<complexType name="OtroType">
		              <sequence>
        		        <element name="uno" type="string"/>
                		<element name="dos" type="string"/>
		                <element name="tres" type="string"/>
        		        <element name="cuatro" type="string"/>
           		      </sequence>
                 	</complexType>
	            </element>
	            <element name="Media" type="string"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

</schema>
