extGPE-gvSIG/testdata/GML-polygons.xsd

<?xml version="1.0" encoding="ISO-8859-1"?><xs:schema targetNamespace="http://www.gvsig.com/cit" xmlns:cit="http://www.gvsig.com/cit" xmlns:gml="http://www.opengis.net/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1.2"><xs:import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/><xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="polygons_Type"><xs:complexContent><xs:extension base="gml:AbstractFeatureType"><xs:sequence><xs:element name="the_geom" minOccurs="0" nillable="true" type="gml:GeometryPropertyType"/><xs:element name="level" minOccurs="0" nillable="true" type="xs:double"/><xs:element name="color" minOccurs="0" nillable="true" type="xs:double"/><xs:element name="entity" minOccurs="0" nillable="true" type="xs:string"/><xs:element name="layer" minOccurs="0" nillable="true" type="xs:string"/><xs:element name="mslink_dmr" minOccurs="0" nillable="true" type="xs:double"/><xs:element name="tipo" minOccurs="0" nillable="true" type="xs:string"/><xs:element name="codigo" minOccurs="0" nillable="true" type="xs:string"/><xs:element name="elevation" minOccurs="0" nillable="true" type="xs:double"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="polygons" type="cit:polygons_Type" substitutionGroup="gml:_Feature"/></xs:schema>